<!DOCTYPE html>
<html lang="en">
  <head>
	  	<!--meta datas-->
    	<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
        <meta name="description" content="Sudoku solver made by Kukai Nakahata">
        <meta name="author" content="Kukai Nakahata and Andy Celdo">

		<!--website icon-->
		<link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}">

		<!--main CSS sheet-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

		<!--bootstrap CSS-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css')}}">

		<!--main JS file-->
		<script type="text/javascript" src="{{ url_for('static', filename='styles/index.js') }}"></script>


		<!--Jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--
			Loads Jquery from browser cache if it exist because it is faster,
			for more info check documentation on Ajax with Jquery in Flask
		-->
		<script>window.jQuery || document.write('<script src="{{url_for('static', filename='styles/jquery.js') }}">\x3C/script>')</script>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    	<title>Twitter Classifier</title>
  </head>
  <body class = "bg-info">
	<!-- nav bar that spans the top of the page-->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="{{url_for('index')}}">Main App</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('bootstrap')}}">Visualizations <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('about_us')}}">About Us</a>
				</li>
			</ul>
		</div>
	</nav>


	<!--
	this is a block using ajax's syntax which is supported by flask,
	body content is loaded inside the block
	-->
	{% block body %}

	{% endblock %}
  </body>
</html>